 <!-- <title>LaporanPemasukanPeriode<?php echo $_GET['tahun'];?><?php echo $_GET['bulan'];?></title> -->
 <title>LaporanPendapatan</title>
 
 <?php
 $title = "LaporanPendapatan";
 header("Content-type: application/vnd-ms-excel");
 header("Content-Disposition: attachment; filename=$title.xls");
 header("Pragma: no-cache");
 header("Expires: 0");
 
 ?>

<?php
	//TABLE
	if(!empty($list_laporan_d_penjualan_row))
	{
		echo'<table width="50%" id="example2" class="table table-hover hoverTable">';
			/*
			echo '<thead>';
			echo'
					<tr style="background-color:green;text-align:center;">';
						echo '<th width="5%">NO</th>';
						echo '<th width="20%">KODE PRODUK</th>';
						echo '<th width="35%">NAMA PRODUK</th>';
						echo '<th width="10%">JUMLAH</th>';
						echo '<th width="10%">DISKON</th>';
						echo '<th width="10%">HARGA</th>';
						echo '<th width="10%">SUBTOTAL</th>';
			echo '</tr>
			</thead>';
			*/
			$list_result = $list_laporan_d_penjualan_row->result();
			
			
			$no = 1;
			
			$no_faktur_old = "";
			$no_faktur_cur = "";
			
			$tunai = 0;
			$nontunai = 0;
			$nama_bank = "";
			$diskon_lain = 0;
			
			
			$grandTotal = 0;
			$allgrandtotal = 0;
			$status_sub = 0;
			
			$prodTr = 0;
			$prodNom = 0;
			$jasTr = 0;
			$jasNom = 0;
			$conTr = 0;
			$conNom = 0;
			
			echo '<tbody>
				<tr>
					<td colspan="7" style="text-align:center;">
						<b>LAPORAN TRANSAKSI</b>
					</td>
				</tr>
				<tr>
					<td colspan="7" style="text-align:center;">
						<b>'.$this->session->userdata('ses_nama_kantor').'</b>
					</td>
				</tr>
				<tr>
					<td colspan="7" style="text-align:center;">
						'.$this->session->userdata('ses_alamat_kantor').'
					</td>
				</tr>
				<tr>
					<td colspan="7" style="text-align:center;">
						<b>Per '.$dari.' Sampai '.$sampai.'</b>
					</td>
				</tr>
				<tr>
					<td colspan="7" style="text-align:center;">
						<br/>
					</td>
				</tr>
			
			';
			
			
			
			foreach($list_result as $row)
			{
				
				if($row->isProduk == "PRODUK")
				{
					$prodTr = $prodTr + 1;
					$prodNom = $prodNom + ($row->jumlah * ($row->harga - $row->besar_diskon_ori));
				}
				elseif($row->isProduk == "JASA")
				{
					$jasTr = $jasTr + 1;
					$jasNom = $jasNom + ($row->jumlah * ($row->harga - $row->besar_diskon_ori));
				}
				else
				{
					$conTr = $conTr + 1;
					$conNom = $conNom + ($row->jumlah * ($row->harga - $row->besar_diskon_ori));
				}
					
					//GROUP NO FAKTUR
					$no_faktur_cur = $row->no_faktur;
					if($no_faktur_cur != $no_faktur_old)
					{
						if($no > 1)
						{
							//SUBTOTAL
							echo'
								<tr>';
								echo '<th colspan="6" style="text-align:right;">GRAND TOTAL</th>';
								echo '<th width="10%" style="text-align:right;">'.($grandTotal).'</th>';
							echo '</tr>';
							echo'
								<tr>';
								echo '<th colspan="6" style="text-align:right;">POTONGAN/DISKON LAIN</th>';
								echo '<th width="10%" style="text-align:right;">'.($diskon_lain).'</th>';
							echo '</tr>';
							echo'
								<tr>';
								echo '<th colspan="6" style="text-align:right;">PEMBAYARAN TUNAI</th>';
								echo '<th width="10%" style="text-align:right;">'.($tunai).'</th>';
							echo '</tr>';
							echo'
								<tr>';
								echo '<th colspan="6" style="text-align:right;">PEMBAYARAN NONTUNAI ('.$nama_bank.')</th>';
								echo '<th width="10%" style="text-align:right;">'.($nontunai).'</th>';
							echo '</tr>';
							echo'
								<tr>';
								echo '<th colspan="6" style="text-align:right;">KEMBALIAN</th>';
								echo '<th width="10%" style="text-align:right;">'.(($tunai + $nontunai) - $grandTotal).'</th>';
							echo '</tr>';
							$grandTotal = 0;
							//SUBTOTAL
						}
						
						//HEADER
						$nama = $row->type_h_penjualan;
						$arr = explode(' ', $nama);
						$singkatan = '';
						foreach($arr as $kata)
						{
							$singkatan .= substr($kata, 0, 1);
						}
						echo'
						<tr>
							<td><b style="color:red;">'.$singkatan.'</b></td>
							<td colspan="2">
								<b>FAKTUR : </b>'.$row->no_faktur.'
								<br/> <b>NO PELANGGAN : </b>'.$row->no_costumer.'
								<br/> <b>NAMA PELANGGAN : </b>'.$row->nama_costumer.'
								<br/> <b>PROMO : </b>'.$row->nama_diskon.'
							</td>
							<td colspan="4">
								<b>DOKTER KONSUL : </b>'.$row->nama_dokter_konsul.'
								
								<!-- <br/> <b>DOKTER TINDAKAN : </b>'.$row->nama_dokter_tindakan.'-->
								
								<br/> <b>WAKTU BAYAR : </b>'.$row->WAKTU_BAYAR.'
								';
																
								if( ($singkatan == "PL") || ($row->waktu_mulai_tindakan == "00:00:00"))
								{
									echo'
										<br/> <b>SELESAI : </b>'.$row->tgl_updt.' 
									</td>';

								}
								else
								{
									echo'
										<br/> <b>TINDAKAN : </b>'.$row->waktu_mulai_tindakan.' - '.$row->waktu_selesai_tindakan.' ('.$row->selisih_waktu_tindakan_menit.')
									</td>';
								}
								
								
								echo'
							</td>
						</tr>';
						
						echo'
								<tr style="text-align:center;">';
									echo '<th width="5%" style="background-color:black;color:white;">NO</th>';
									echo '<th width="20%" style="background-color:black;color:white;">KODE PRODUK</th>';
									echo '<th width="35%" style="background-color:black;color:white;">NAMA PRODUK</th>';
									echo '<th width="10%" style="background-color:black;color:white;">JUMLAH</th>';
									echo '<th width="10%" style="background-color:black;color:white;">DISKON</th>';
									echo '<th width="10%" style="background-color:black;color:white;">HARGA</th>';
									echo '<th width="10%" style="background-color:black;color:white;">SUBTOTAL</th>';
						echo '</tr>';
						//HEADER
						
						/*
						echo'<td>'.$no.'</td>';
						echo '<td>
							<b>FAKTUR : </b>'.$row->no_faktur.'
							<br/> <b>WAKTU INPUT : </b>'.$row->waktu_input.'
							<br/> <b>NO PELANGGAN : </b>'.$row->no_costumer.'
							<br/> <b>NAMA PELANGGAN : </b>'.$row->nama_costumer.'
						</td>';
						*/
						echo'<tr>';
							echo'<td style="vertical-align: text-top;">'.$no.'</td>';
						
						$no++;
					}
					else
					{
						echo'<tr>';
							echo'<td></td>';
						/*
						echo'<td></td>';
						echo'<td></td>';
						*/
					}
					//GROUP NO FAKTUR
					
					if($row->isProduk == 'JASA')
					{
						echo'<td style="color:red;text-align:left;vertical-align: text-top;">'.$row->kode_produk.'</td>';
						echo '<td style="color:red;text-align:left;vertical-align: text-top;">
							'.$row->nama_produk.'
							<font style="color:black;">
							<br/>
							<b>Dokter :</b> '.$row->nama_dok.'
							<br/>
							<b>Therapist :</b> '.$row->nama_ass.'
							</font>
						</td>';
					}
					else
					{
						echo'<td style="text-align:left;vertical-align: text-top;">'.$row->kode_produk.'</td>';
						echo '<td style="text-align:left;vertical-align: text-top;">
							'.$row->nama_produk.'
						</td>';
					}
					
					
					echo'<td style="vertical-align: text-top;">'.$row->jumlah.' '.$row->satuan_jual.'</td>';
					echo'<td style="vertical-align: text-top;">'.$row->diskon.' '.$row->optr_diskon.'</td>';
					echo'<td style="text-align:right;vertical-align: text-top;">'.$row->harga.'</td>';
					echo'<td style="text-align:right;vertical-align: text-top;">'.$row->jumlah * ($row->harga - $row->besar_diskon_ori).'</td>';
					//echo '<td>'.number_format($row->harga).' </td>';
					//<input type="checkbox" checked="checked">
					
					$grandTotal = $grandTotal + ($row->jumlah * ($row->harga - $row->besar_diskon_ori));
								
				echo'</tr>';
				
				//CATATA PEMBAYARAN, HARUS DITARO DISINI KARENA LOPING
					$tunai = $row->TUNAI;
					$nontunai = $row->NONTUNAI;
					$nama_bank = $row->nama_bank;
					$diskon_lain = $row->diskon_lain;
				//CATATA PEMBAYARAN, HARUS DITARO DISINI KARENA LOPING
				
				//GROUP NO FAKTUR
					$no_faktur_old = $row->no_faktur;
				//GROUP NO FAKTUR
				
				$allgrandtotal = $allgrandtotal + ($row->jumlah * ($row->harga - $row->besar_diskon_ori));
				
			}
			
			//SUBTOTAL AKHIR
				//SUBTOTAL
					echo'
						<tr>';
						echo '<th colspan="6" style="text-align:right;">GRAND TOTAL</td>';
						echo '<th width="10%" style="text-align:right;">'.$grandTotal.'</td>';
					echo '</tr>';
					echo'
						<tr>';
						echo '<th colspan="6" style="text-align:right;">POTONGAN/DISKON LAIN</td>';
						echo '<th width="10%" style="text-align:right;">'.$diskon_lain.'</td>';
					echo '</tr>';
					echo'
						<tr>';
						echo '<th colspan="6" style="text-align:right;">PEMBAYARAN TUNAI</td>';
						echo '<th width="10%" style="text-align:right;">'.$tunai.'</td>';
					echo '</tr>';
					echo'
						<tr>';
						echo '<th colspan="6" style="text-align:right;">PEMBAYARAN NONTUNAI <font style="font-weight:normal;">('.$nama_bank.')</font></td>';
						echo '<th width="10%" style="text-align:right;">'.$nontunai.'</td>';
					echo '</tr>';
					echo'
						<tr>';
						echo '<th colspan="6" style="text-align:right;">KEMBALIAN</td>';
						//echo '<th width="10%" style="text-align:right;">'.($tunai + $nontunai) - $grandTotal.'</td>';
					echo '</tr>';
					$grandTotal = 0;
				//SUBTOTAL
			//SUBTOTAL AKHIR
			
			//GRANDTOTAL KESELURUHAN
			
			
			//AKUMULASI PEMBAYARAN
			if(!empty($sum_laporan_h_penjualan))
			{
				echo'<tr><td colspan="4"></td></tr>';
				echo'<tr style="font-weight:bold; text-align:center;">
					<td colspan="4">AKUMULASI TRANSAKSI (METODE BAYAR)</td>
				</tr>';
				echo'<tr style="font-weight:bold;">
					<td colspan="2" style="background-color:gray;">PEMBAYARAN</td>
				
					<td colspan="1" style="background-color:gray;">JUMLAH TRANSAKSI</td>
				
					<td colspan="1" style="background-color:gray;">NOMINAL</td>
				</tr>';
				
				$grandcntsum =0;
				$grandtunaisum =0;
				$grandnontunaisum =0;
				
				$list_result_allgrandtotal = $sum_laporan_h_penjualan->result();
				foreach($list_result_allgrandtotal as $row_allgrandtotal)
				{
					echo'<tr style="font-weight:normal">
					<td colspan="2">'.($row_allgrandtotal->nama_bank).'</td>
					
					<td colspan="1" style="text-align:center;">'.($row_allgrandtotal->CNT).'</td>
					
					';
					if($row_allgrandtotal->nama_bank == "TUNAI")
					{
						echo'
						<td colspan="1" style="text-align:right;">'.($row_allgrandtotal->NONTUNAI).'</td>
						</tr>';
						
						$grandtunaisum = $grandtunaisum + $row_allgrandtotal->NONTUNAI;
					}
					else
					{
						echo'
						<td colspan="1" style="text-align:right;">'.($row_allgrandtotal->NONTUNAI).'</td>
						</tr>';
						
						$grandnontunaisum = $grandnontunaisum + $row_allgrandtotal->NONTUNAI;
						
					}
					
					$grandcntsum = $row_allgrandtotal->CNT;
				}
				
				echo'<tr style="font-weight:bold;">
					<td colspan="2">GRAND TOTAl</td>
				
					<td colspan="1" style="text-align:center;">'.($grandcntsum).'</td>
				
					<td colspan="1" style="text-align:right;">'.($grandtunaisum + $grandnontunaisum).'</td>
				</tr>';
			}
			//AKUMULASI PEMBAYARAN
			
			//AKUMULIAS JENIS PRODUK,JASA DAN CONSUMABLE
				echo'<tr><td colspan="4"></td></tr>';
				echo'<tr style="font-weight:bold; text-align:center;">
					<td colspan="4">AKUMULASI TRANSAKSI (PER JENIS)</td>
				</tr>';
				echo'<tr style="font-weight:bold;">
					<td colspan="2" style="background-color:gray;">JENIS</td>
				
					<td colspan="1" style="background-color:gray;">JUMLAH TRANSAKSI</td>
				
					<td colspan="1" style="background-color:gray;">NOMINAL</td>
				</tr>';
				
				echo'<tr>
					<td colspan="2">PRODUK</td>
					<td colspan="1">'.$prodTr.'</td>
					<td colspan="1">'.$prodNom.'</td>
				</tr>';
				
				echo'<tr>
					<td colspan="2">JASA</td>
					<td colspan="1">'.$jasTr.'</td>
					<td colspan="1">'.$jasNom.'</td>
				</tr>';
				
				echo'<tr>
					<td colspan="2">CONSUMABLE</td>
					<td colspan="1">'.$conTr.'</td>
					<td colspan="1">'.$conNom.'</td>
				</tr>';
				
				$tt1 = $prodTr + $jasTr + $conTr;
				echo'<tr style="font-weight:bold;">
					<td colspan="2">TOTAL</td>
					<td colspan="1">'..'</td>
					<td colspan="1">'.$prodNom+$jasNom+$conNom.'</td>
				</tr>';
				
				
			//AKUMULIAS JENIS PRODUK,JASA DAN CONSUMABLE
			
			//AKUMULASI PRODUK ISREPORT
			if(!empty($sum_laporan_d_penjualan_produk_isReport))
			{
				echo'<tr><td colspan="6"></td></tr>';
				echo'<tr><td colspan="6"></td></tr>';
				echo'<tr style="font-weight:bold; text-align:center;">
					<td colspan="6">AKUMULASI JASA/PRODUK</td>
				</tr>';
				echo'<tr style="font-weight:bold;">
					<td colspan="2" style="background-color:gray;">NAMA JASA/PRODUK</td>
				
					<td colspan="1" style="background-color:gray;">JUMLAH TRANSAKSI</td>
				
					<td colspan="1" style="background-color:gray;">NOMINAL</td>
					<td colspan="2" style="background-color:gray;">SUBTOTAL</td>
				</tr>';
				
				
				$grand_total = 0;
				$list_result_allgrandtotal = $sum_laporan_d_penjualan_produk_isReport->result();
				foreach($list_result_allgrandtotal as $row_allgrandtotal)
				{
					echo'<tr style="font-weight:normal">
					<td colspan="2">'.($row_allgrandtotal->nama_produk).'</td>
					
					<td colspan="1" style="text-align:center;">'.($row_allgrandtotal->jumlah).' '.$row_allgrandtotal->satuan_jual.'</td>
					
					';
					
					
					echo'
					<td colspan="1" style="text-align:right;">'.($row_allgrandtotal->harga).'</td>';
					
					echo'
					<td colspan="2" style="text-align:right;">'.($row_allgrandtotal->jumlah * $row_allgrandtotal->harga).'</td>
					</tr>';
						
					$grand_total = $grand_total + ($row_allgrandtotal->jumlah * $row_allgrandtotal->harga);
					
					
				}
				
				echo'<tr style="font-weight:bold;">
					<td colspan="5">GRAND TOTAl</td>
				
					<td colspan="1" style="text-align:right;">'.($grand_total).'</td>
				
				</tr>';
			}
			//AKUMULASI PRODUK ISREPORT
			
			//GRANDTOTAL KESELURUHAN
			echo '</tbody>';
		echo'</table>';
	}
	else
	{
		echo'<center>';
		echo'Tidak Ada Data Yang Ditampilkan !';
		echo'</center>';
	}
										//TABLE 
//TABLE
?>