<html>
	<head>
		<?php
			echo '<title>'.$this->session->userdata('ses_gnl_nama_aplikasi').'</title>';
		?>
		
		<!-- @page { size: auto;  margin: 0mm; } -->
		<style>
			@page { size: auto; margin-top:0mm;margin-bottom:0mm; }	
		</style>
	</head>
	<body onload="window.print();">
		<table width="100%">
			<tr>
				<td width="45%"><img class="profile-user-img img-responsive" style="border:0px;width:50%;" src= "<?php echo base_url().'/'.$this->session->userdata('ses_gnl_logo_aplikasi_besar');?>" alt="User profile picture"></td>
				<td width="10%"></td>
				<td width="45%" rowspan="2" style="text-align:left;"><b>BUKTI PENERIMAAN PRODUK</b><br/><font style="font-size:15px;"><?php echo 'Tanggal Transaksi : '.$data_penerimaan_pembelian->tgl_terima;?></font></td>
			</tr>
			<tr>
				<td width="45%"><b><?php echo $this->session->userdata('ses_nama_kantor') .'';?></b></td>
				<td width="10%"></td>
				<!-- <td width="50%" style="text-align:center;"><b>FAKTUR PENJUALAN</b></td> -->
			</tr>
			<tr>
				<td width="45%" rowspan="5" style="vertical-align: text-top;">
					<?php echo $this->session->userdata('ses_alamat_kantor') .'';?>
					</br>
					<?php echo $this->session->userdata('ses_tlp');?>
				</td>
				<td width="10%"></td>
				<td width="45%">
					<table width="100%">
						<tr>
							<td width="30%">No Surat Jalan</td>
							<td width="10%">:</td>
							<td width="60%"><?php echo $data_penerimaan_pembelian->no_surat_jalan;?></td>
						</tr>
					</table>
				</td>
			</tr>
			
			
			<tr>
				<!-- <td width="45%"></td> -->
				<td width="10%"></td>
				<td width="45%">
					<table width="100%">
						<tr>
							<td width="30%">No Pesanan/PO</td>
							<td width="10%">:</td>
							<td width="60%"><?php echo $data_penerimaan_pembelian->no_h_pembelian;?></td>
						</tr>
					</table>
				</td>
			</tr>
			
			<tr>
				<!-- <td width="45%"></td> -->
				<td width="10%"></td>
				<td width="45%">
					<table width="100%">
						<tr>
							<td width="30%">Supplier</td>
							<td width="10%">:</td>
							<td width="60%"><?php echo $data_penerimaan_pembelian->nama_supplier;?></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<!-- <td width="45%"></td> -->
				<td width="10%"></td>
				<td width="45%">
					<table width="100%">
						<tr>
							<td width="30%">Telpon</td>
							<td width="10%">:</td>
							<td width="60%"><?php echo $data_penerimaan_pembelian->tlp_supplier;?></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<!-- <td width="45%"></td> -->
				<td width="10%"></td>
				<td width="45%">
					<table width="100%">
						<tr>
							<td width="30%">Alamat</td>
							<td width="10%">:</td>
							<td width="60%"><?php echo $data_penerimaan_pembelian->alamat_supplier;?></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	
			
			<div class="box-body table-responsive no-padding" style="font-size:12px;">
				<table width="100%" id="table_transaksi" class="table table-hover">
					<thead>
						<tr style="background-color:black;color:white;text-align:center;font-size:12px;">
							<th width="5%" style="text-align:center;">NO</th>
							<th width="15%" style="text-align:center;">KODE</th>
							<th width="30%" style="text-align:center;">NAMA</th>
							<th width="10%" style="text-align:center;">JUMLAH</th>
							<th width="10%" style="text-align:center;">HARGA PO</th>
							<th width="10%" style="text-align:center;">HARGA SJ</th>
							<!-- <th width="15%" style="text-align:right;">HARGA</th> -->
							<th width="10%" style="text-align:center;">SUBTOTAL</th>
							<th width="10%" style="text-align:center;">KETERANGAN</th>
						</tr>
					</thead>
			<?php
			
				/*
				if((!empty($_POST['cari'])) && ($_POST['cari']!= "")  )
				{
					$cari = "WHERE A.kode_kantor = '".$this->session->userdata('ses_kode_kantor')."' 
							AND A.id_h_penjualan = '".$_POST['id_h_penjualan']."'
							AND (B.kode_produk LIKE '%".str_replace("'","",$_POST['cari'])."%' OR B.nama_produk LIKE '%".str_replace("'","",$_POST['cari'])."%')";
				}
				else
				{
				*/
					/*
					$cari = "
							WHERE A.kode_kantor = '".$this->session->userdata('ses_kode_kantor')."' 
							AND A.id_h_penjualan = '".$data_penerimaan_pembelian->id_h_penjualan."'
							-- AND A.isProduk <> 'CONSUMABLE'
							AND A.id_d_penerimaan  = ''
							";
					*/
				//}
				
				//$order_by = " ORDER BY A.tgl_ins DESC ";
				
				$list_d_penjualan = $this->M_gl_h_penerimaan->list_d_penerimaan_for_print_bukti_penerimaan($data_penerimaan_pembelian->id_h_pembelian,$data_penerimaan_pembelian->id_h_penerimaan,"",$this->session->userdata('ses_kode_kantor'));
				//($cari,$_POST['limit'],$_POST['offset']);
				
				if(!empty($list_d_penjualan))
				{
					$list_result = $list_d_penjualan->result();
					//$no =$this->uri->segment(2,0)+1;
					$total = 0;
					$no = 1;
					foreach($list_result as $row)
					{
						//echo'<tr id="tr_'.$no.'">';
						
						echo'<tr id="tr_list_transaksi-'.$row->id_produk.'" >';
							
							echo'<td width="5%" style="text-align:left;width:5%;font-size:12px;border-bottom:1px black solid;">'.$no.'</td>';
							echo'<td width="15%" style="text-align:left;width:15%;font-size:12px;border-bottom:1px black solid;">'.$row->kode_produk.'</td>';
							echo'<td width="30%" style="text-align:left;width:40%;font-size:12px;border-bottom:1px black solid;">'.$row->nama_produk.'</td>';
							echo'<td width="10%" style="text-align:center;width:15%;font-size:12px;border-bottom:1px black solid;">'.$row->TRM_DITERIMA.' '.$row->kode_satuan.'</td>';
							
							
							echo'<td width="10%" style="text-align:right;width:15%;font-size:12px;border-bottom:1px black solid;">'.number_format( ( $row->BL_HARGA),1,'.',',').'</td>';
							
							echo'<td width="10%" style="text-align:right;width:15%;font-size:12px;border-bottom:1px black solid;">'.number_format( ( $row->harga_terima),1,'.',',').'</td>';
							
							echo'<td width="10%" style="text-align:right;width:15%;font-size:12px;border-bottom:1px black solid;">'.number_format( ($row->harga_terima) * $row->TRM_DITERIMA,1,'.',',').'</td>';
							
							if($row->BL_HARGA == $row->harga_terima)
							{
								$status_naik = '-';
							}
							elseif($row->harga_terima > $row->BL_HARGA)
							{
								$sisa = $row->harga_terima - $row->BL_HARGA;
								$status_naik = 'N '.$sisa;
							}
							elseif($row->harga_terima < $row->BL_HARGA)
							{
								$sisa = $row->BL_HARGA - $row->harga_terima ;
								$status_naik = 'T '.$sisa;
							}
							
							echo'<td width="10%" style="text-align:left;width:10%;font-size:12px;border-bottom:1px black solid;">'.$status_naik.'</td>';
							
							
						echo'</tr>';
						$total = $total + ( ($row->harga_terima) * $row->TRM_DITERIMA );
						$no++;
					}
					
					
					echo'
						
						<tr style="border-bottom:1px solid black;">
							<td colspan="6" style="text-align:right;font-size:12px;">TOTAL</td>
							<td style="text-align:right;font-size:12px;">'.number_format($total,1,'.',',').'</td>
							<td></td>
						</tr>
						
					';
					
					//if( ($this->session->userdata('ses_gnl_pajak_transaksi')) > 0)
					//{
					
					/*
						echo'
						<tr>
							<td colspan="5" style="text-align:right;font-size:12px;">BIAYA</td>
							<td style="text-align:right;font-size:12px;">'.number_format($data_h_penjualan->pajak,0,'.',',').'</td>
						</tr>
						';
					*/
					//}
					
					if(!empty($data_pembayaran_bank))
					{
						//$data_pembayaran_bank = $data_pembayaran_bank->row();
						$bayar_bank = $data_pembayaran_bank->nominal;
					}
					else
					{
						$bayar_bank = 0;
					}
					
					if(!empty($data_pembayaran_cash))
					{
						//$data_pembayaran_cash = $data_pembayaran_cash->row();
						$bayar_cash = $data_pembayaran_cash->nominal;
					}
					else
					{
						$bayar_cash = 0;
					}
					
					$bayar_all = $bayar_bank + $bayar_cash;
					
					/*
					echo'
					<tr>
						<td colspan="5" style="text-align:right;font-size:12px;">BAYAR</td>
						<td style="text-align:right;font-size:12px;">'.number_format($bayar_all,0,'.',',').'</td>
					</tr>
					';
					*/
					
					//$kembalian = $bayar_all - (($total + $data_h_penjualan->pajak) - $data_h_penjualan->diskon);
					
					/*
					echo'
					<tr>
						<td colspan="5" style="text-align:right;font-size:12px;">KEMBALI</td>
						<td style="text-align:right;font-size:12px;">'.number_format($kembalian,0,'.',',').'</td>
					</tr>
					';
					*/
					
					
					//if($this->session->userdata('ses_kode_kantor') == 'PST')
					//{
						echo'
						<tr>
							<td colspan="6" style="text-align:center;font-size:12px;">Penanggung Jawab</td>
						</tr>
						';
						
						echo'
						<tr>
							<td colspan="6" style="text-align:right;font-size:12px;"></br></br></br></td>
						</tr>
						';
						
						echo'
						<tr>
							<td colspan="6" style="text-align:center;font-size:12px;">Date</td>
						</tr>
						';
					//}
					
						
						
				}
				else
				{
					//echo "TIDAK ADA DATA YANG DITAMPILKAN";
				}
			
			?>
				</table>
			</div>
			
		
		
		
		<center>
			<?php
				//echo '<br/>'.$data_h_penjualan->type_h_penjualan;
			?>
			
			
			
		</center>
	</body>
</html>
