			<!-- Welcome -->
			<section>
				<div class="container">

					<div class="text-center">
						<!-- <h1 class="font-lato">Welcome to <span>Smarty</span></h1> -->
						<!-- <h2 class="col-sm-10 offset-sm-1 mb-0 fw-400">Clean, fully responsive, very flexible multipurpose template that allows you to create the website you need.</h2> -->
						
						<h1 class="font-lato"><?php echo $judul;?></h1>
						<h2 class="col-sm-10 offset-sm-1 mb-0 fw-400"><?php echo $isi;?></h2>
						
					</div>

				</div>
			</section>
			<!-- Welcome -->