							<!-- <section> -->
								<div class="container">

									<div class="heading-title heading-border">
										<h3><span style="padding:5px;">Galeri Foto BAZNAS Kab. Sukabumi</span></h3>
										<!-- <p class="font-lato fs-14"><?php echo $row->KIMG_KET;?></p> -->
									</div>
									<div class="masonry-gallery columns-6 clearfix lightbox" data-img-big="3" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

										<?php
											$list_images_atas = $this->M_images->list_images_limit(" WHERE A.IMG_GRUP = 'images' AND B.KIMG_NAMA <> 'Slider' ",20,0);
											if(!empty($list_images_atas)) 
											{  
												$list_result = $list_images_atas->result();
												foreach($list_result as $row)
												{
										?>
													
													<a class="image-hover" href="<?php echo $row->IMG_LINK;?>">
														<img src="<?php echo $row->IMG_LINK;?>" alt="<?php echo $row->IMG_NAMA;?>">
													</a>
										<?php
												}
											}
										?>
										
									</div>
								</div>
							<!-- </section> -->
			
			
			
			<?php
				if(!empty($list_kategori_images)) 
				{  
					$list_result = $list_kategori_images->result();
					foreach($list_result as $row)
					{
			?>
			
					<section>
						<div class="container">

							<div class="heading-title heading-border">
								<h3><span style="padding:5px;"><?php echo $row->KIMG_NAMA;?></span></h3>
								<p class="font-lato fs-14"><?php echo $row->KIMG_KET;?></p>
							</div>

							<!-- 
								RELATED CAROUSEL 

								controlls-over		= navigation buttons over the image 
								buttons-autohide 	= navigation buttons visible on mouse hover only

								owl-carousel item paddings
									.owl-padding-0
									.owl-padding-1
									.owl-padding-2
									.owl-padding-3
									.owl-padding-6
									.owl-padding-10
									.owl-padding-15
									.owl-padding-20
							-->
							<div class="text-center">
								<div class="owl-carousel owl-padding-1 m-0 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items": "4", "autoPlay": 3500, "navigation": true, "pagination": false}'>
									
									<?php
										$list_images = $this->M_images->list_images_limit(" WHERE A.IMG_GRUP = 'images' AND B.KIMG_NAMA <> 'Slider' AND B.KIMG_ID = '".$row->KIMG_ID."'",20,0);
										if(!empty($list_images)) 
										{  
											$list_result = $list_images->result();
											foreach($list_result as $row2)
											{
									?>
										<!-- item -->
										<div class="item-box">
											<figure>
												<span class="item-hover">
													<span class="overlay dark-5"></span>
													<span class="inner">

														<!-- lightbox -->
														<a class="ico-rounded lightbox" href="<?php echo $row2->IMG_LINK;?>" data-plugin-options='{"type":"image"}'>
															<span class="fa fa-plus fs-20"></span>
														</a>

														<!-- details -->
														<!-- <a class="ico-rounded" href="portfolio-single-slider.html"> -->
															<!-- <span class="glyphicon glyphicon-option-horizontal fs-20"></span> -->
														<!-- </a> -->

													</span>
												</span>

												<img class="img-fluid" src="<?php echo $row2->IMG_LINK;?>" width="600" height="399" alt="<?php echo $row2->IMG_NAMA;?>">
											</figure>

											<div class="item-box-desc">
												<h3><?php echo $row2->IMG_NAMA;?></h3>
												<ul class="list-inline categories m-0">
													<li><a href="#"><?php echo $row2->KIMG_NAMA;?></a></li>
													<li><a href="#"><?php echo $row2->IMG_DTINS;?></a></li>
												</ul>
											</div>

										</div>
										<!-- /item -->
									
									<?php
											}
										}
									?>

									

								</div>
							</div>

						</div>
					</section>
			<?php
					}
				}
			?>