						<div class="col-sm-3">

							<!-- FOLLOW -->
							<!-- <h3 class="page-header fw-300 mt-0" style="background-color:#196619;color:yellow;font-weight:bold;"> -->
								<!-- <i class="fa fa-article"></i>  -->
								<!-- Artikel  -->
							<!-- </h3> -->
							
							<div class="heading-title heading-border page-header fw-300 mt-0" style="width:100%;">
								<h3 style="width:100%;"><span style="padding:5px;">ARTIKEL</span></h3>
								<p class="font-lato fs-14">Artikel Terbaru</p>
							</div>

							<!-- Social Icons -->
							<!-- <div class="mt-20 clearfix"> -->
								<!-- <a href="#" class="social-icon social-facebook float-left" data-toggle="tooltip" data-placement="top" title="Facebook"> -->

									<!-- <i class="icon-facebook"></i> -->
									<!-- <i class="icon-facebook"></i> -->
								<!-- </a> -->

								<!-- <a href="#" class="social-icon social-twitter float-left" data-toggle="tooltip" data-placement="top" title="Twitter"> -->
									<!-- <i class="icon-twitter"></i> -->
									<!-- <i class="icon-twitter"></i> -->
								<!-- </a> -->

								<!-- <a href="#" class="social-icon social-gplus float-left" data-toggle="tooltip" data-placement="top" title="Google plus"> -->
									<!-- <i class="icon-gplus"></i> -->
									<!-- <i class="icon-gplus"></i> -->
								<!-- </a> -->

								<!-- <a href="#" class="social-icon social-linkedin float-left" data-toggle="tooltip" data-placement="top" title="Linkedin"> -->
									<!-- <i class="icon-linkedin"></i> -->
									<!-- <i class="icon-linkedin"></i> -->
								<!-- </a> -->

								<!-- <a href="#" class="social-icon social-rss float-left" data-toggle="tooltip" data-placement="top" title="Rss"> -->
									<!-- <i class="icon-rss"></i> -->
									<!-- <i class="icon-rss"></i> -->
								<!-- </a> -->
					
							<!-- </div> -->
							<!-- /Social Icons -->



							<!-- HOT -->
							<!-- <h3 class="page-header fw-300 mt-60"> -->
								<!-- Today's <span>Hot</span> -->
							<!-- </h3> -->

							<!-- No #1 Hot -->
							<?php
								$list_new_artikel = $this->M_public->list_artikel(''," A.ART_DTINS DESC",0,5);
								if(!empty($list_new_artikel)) 
								{  
									$list_result = $list_new_artikel->result();
									foreach($list_result as $row)
									{
							?>
										<div class="item-box mt-0">
											<!-- <figure> -->
												<!-- <a class="item-hover" href="#"> -->
													<!-- <span class="overlay color2"></span> -->
													<!-- <span class="inner"> -->
														<!-- <span class="block fa fa-plus fsize20"></span> -->
														<!-- <strong>BACA</strong> ARTIKEL -->
													<!-- </span> -->
												<!-- </a> -->
												<!-- <img alt="" class="img-fluid" src="<?php echo $row->IMG_LINK;?>" /> -->
											<!-- </figure> -->
											<div class="item-box-desc p-10">
												<small><?php echo $row->ART_DTINS;?></small>
<h4><a href="<?php echo base_url();?>detail-artikel/<?php echo substr($row->ART_DTINS,0,4);?>/<?php echo $row->ART_LINKTITLE;?>"><?php echo $row->ART_NAMA;?></a></h4>
											</div>
										</div>
							<?php
									}
								}
							?>
							<!-- /No #1 Hot -->


							<!-- <h3 class="page-header fw-300 mt-0" style="background-color:#196619;color:yellow;font-weight:bold;"> -->
								<!-- <i class="fa fa-article"></i>  -->
								<!-- Berita  -->
							<!-- </h3> -->
							</br></br></br>
							<div class="heading-title heading-border page-header fw-300 mt-0" style="width:100%;">
								<h3 style="width:100%;"><span style="padding:5px;">BERITA</span></h3>
								<p class="font-lato fs-14">Berita Terbaru</p>
							</div>
							
							<?php
								$list_new_berita = $this->M_public->list_berita(''," A.BRT_DTINS DESC",0,5);
								if(!empty($list_new_berita)) 
								{  
									$list_result = $list_new_berita->result();
									foreach($list_result as $row)
									{
							?>
										<div class="item-box mt-0">
											<figure>
												<a class="item-hover" href="#">
													<span class="overlay color2"></span>
													<span class="inner">
														<span class="block fa fa-plus fsize20"></span>
														<strong>BACA</strong> BERITA
													</span>
												</a>
												<img alt="" class="img-fluid" src="<?php echo $row->IMG_LINK;?>" />
											</figure>
											<div class="item-box-desc p-10">
												<small><?php echo $row->BRT_DTINS;?></small>
<h4><a href="<?php echo base_url();?>detail-berita/<?php echo substr($row->BRT_DTINS,0,4);?>/<?php echo $row->BRT_LINKTITLE;?>"><?php echo $row->BRT_NAMA;?></a></h4>
											</div>
										</div>
							<?php
									}
								}
							?>



							<!-- small articles -->
							<!-- <div class="row mt-30"> -->
								<!-- <div class="col-xs-6 col-md-6"> -->
									<!-- <a href="#"> -->
										<!-- <img alt="" class="img-fluid" src="demo_files/images/magazine/thumbs/thumb_3-min.jpg" /> -->
										<!-- <h6 class="fsize12 font300 padding6">Horses hypnotized by the sea</h6> -->
									<!-- </a>							 -->
								<!-- </div> -->
								<!-- <div class="col-xs-6 col-md-6"> -->
									<!-- <a href="#"> -->
										<!-- <img alt="" class="img-fluid" src="demo_files/images/magazine/thumbs/thumb_4-min.jpg" /> -->
										<!-- <h6 class="fsize12 font300 padding6">Sochi protesters fight to be heard</h6> -->
									<!-- </a>							 -->
								<!-- </div> -->
							<!-- </div> -->
							<!-- /small articles -->



							<!-- LATEST -->
							<!-- <h3 class="page-header fw-300 mt-60"> -->
								<!-- Read <span>this</span>, Watch <span>that</span> -->
							<!-- </h3> -->

							<!-- <div id="accordion"> -->
								<!-- <div class="card card-default mt-5 mb-0"> -->
									<!-- <div class="card-heading"> -->
										<!-- <h4 class="card-title"> -->
											<!-- <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> -->
												<!-- <i class="fa fa-heart-o"></i> -->
												<!-- Most readed -->
											<!-- </a> -->
										<!-- </h4> -->
									<!-- </div> -->
									<!-- <div id="collapseOne" class="accordion-body collapse in"> -->
										<!-- <div class="card-block"> -->
											<!-- <ul class="list-unstyled list-icons mb-10"> -->
												<!-- <li class="mt-6"><i class="fa fa-angle-right"></i> <a href="#">Boulder smashes through Italian farm</a></li> -->
												<!-- <li class="mt-6"><i class="fa fa-angle-right"></i> <a href="#">Fall in eurozone inflation rate fuels deflation concerns</a></li> -->
												<!-- <li class="mt-6"><i class="fa fa-angle-right"></i> <a href="#">Australia to dump dredged sand in Great Barrier Reef Park</a></li> -->
											<!-- </ul> -->
										<!-- </div> -->
									<!-- </div> -->
								<!-- </div> -->
								<!-- <div class="card card-default mt-5 mb-0"> -->
									<!-- <div class="card-heading"> -->
										<!-- <h4 class="card-title"> -->
											<!-- <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> -->
												<!-- <i class="fa fa-star"></i> -->
												<!-- Most Rated -->
											<!-- </a> -->
										<!-- </h4> -->
									<!-- </div> -->
									<!-- <div id="collapseTwo" class="accordion-body collapse"> -->
										<!-- <div class="card-block"> -->
											<!-- <ul class="list-unstyled list-icons mb-10"> -->
												<!-- <li class="mt-6"><i class="fa fa-angle-right"></i> <a href="#">Boulder smashes through Italian farm</a></li> -->
												<!-- <li class="mt-6"><i class="fa fa-angle-right"></i> <a href="#">Fall in eurozone inflation rate fuels deflation concerns</a></li> -->
												<!-- <li class="mt-6"><i class="fa fa-angle-right"></i> <a href="#">Australia to dump dredged sand in Great Barrier Reef Park</a></li> -->
											<!-- </ul> -->
										<!-- </div> -->
									<!-- </div> -->
								<!-- </div> -->
								<!-- <div class="card card-default mt-5 mb-0"> -->
									<!-- <div class="card-heading"> -->
										<!-- <h4 class="card-title"> -->
											<!-- <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> -->
												<!-- <i class="fa fa-comment"></i> -->
												<!-- Most Commented -->
											<!-- </a> -->
										<!-- </h4> -->
									<!-- </div> -->
									<!-- <div id="collapseThree" class="accordion-body collapse"> -->
										<!-- <div class="card-block"> -->
											<!-- <ul class="list-unstyled list-icons mb-10"> -->
												<!-- <li class="mt-6"><i class="fa fa-angle-right"></i> <a href="#">Boulder smashes through Italian farm</a></li> -->
												<!-- <li class="mt-6"><i class="fa fa-angle-right"></i> <a href="#">Fall in eurozone inflation rate fuels deflation concerns</a></li> -->
												<!-- <li class="mt-6"><i class="fa fa-angle-right"></i> <a href="#">Australia to dump dredged sand in Great Barrier Reef Park</a></li> -->
											<!-- </ul> -->
										<!-- </div> -->
									<!-- </div> -->
								<!-- </div> -->
							<!-- </div> -->



							<!-- TWEETS -->
							<!-- <h3 class="page-header fw-300 mt-60"> -->
								<!-- <i class="fa fa-twitter"></i>  -->
								<!-- Latest <span>Tweets</span>  -->
							<!-- </h3> -->

							<!--
								data-php="php/twitter/tweet.php"		- widget php path
								data-username="stepofweb"			- twitter username
								data-limit="3"					- maximum twwts to load
								
								PLEASE NOTE!
								php/_cache/ - folder should be writable by the webserver!
										- it's used to cache tweets
							-->
							<!-- <ul class="widget-twitter" data-php="php/twitter/tweet.php" data-username="stepofweb" data-limit="3"> -->
								<!-- <li></li> -->
							<!-- </ul> -->

						</div>