<!DOCTYPE HTML>
    <head>
    	<meta http-equiv="content-type" content="text/html" />
    	<meta name="Quad Rumah Software 2015" content="Dashboard Admin" />
    
		<title>PATEN (Pelayanan Administrasi Terpadu Kecamatan)</title>    	
        
        <!-- view source dll.-->
        <!--<script type="text/javascript">
        window.addEventListener("keydown",function(e){if(e.ctrlKey&&(e.which==65||e.which==66||e.which==67||e.which==73||e.which==80||e.which==83||e.which==85||e.which==86)){e.preventDefault()}});document.keypress=function(e){if(e.ctrlKey&&(e.which==65||e.which==66||e.which==67||e.which==73||e.which==80||e.which==83||e.which==85||e.which==86)){}return false}
        </script>
        <script type="text/javascript">
        document.onkeydown=function(e){e=e||window.event;if(e.keyCode==123||e.keyCode==18){return false}}
        </script>-->
        
        <!-- mengaktifkan javascript-->
        <!--<div align="center"><noscript>
           <div style="position:fixed; top:0px; left:0px; z-index:3000; height:100%; width:100%; background-color:#FFFFFF">
           <div style="font-family: Arial; font-size: 17px; background-color:#00bbf9; padding: 11pt;">Mohon aktifkan javascript pada browser untuk mengakses halaman ini!</div></div>
        </noscript></div>-->
        
        <!--kanan-->
        <!--<script type="text/javascript">
        function mousedwn(e){try{if(event.button==2||event.button==3)return false}catch(e){if(e.which==3)return false}}document.oncontextmenu=function(){return false};document.ondragstart=function(){return false};document.onmousedown=mousedwn
        </script>-->
        
        
        <!-- jQuery 2.1.4 -->
        <script src="http://localhost/paten.cianjurkab.go.id/assets/adminlte/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    </head>
    
    <body class="skin-blue sidebar-mini" onLoad="JavaScript:loadSearchHighlight();">
        <div class="wrapper"> <!-- Buka | Untuk Wrapper/Container -->
            
            <!--<div> <!-- Buka | Untuk Header -->
                    <header class="main-header">
        <!-- Logo -->
        <a href="http://localhost/paten.cianjurkab.go.id/index.php/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>PTN</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>PATEN</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="http://localhost/paten.cianjurkab.go.id/assets/global/karyawan/IMG_20160218_165424.jpg" class="user-image" alt="User Image">
                  <span class="hidden-xs">Mulyana Yusuf</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="http://localhost/paten.cianjurkab.go.id/assets/global/karyawan/IMG_20160218_165424.jpg" class="img-circle" alt="User Image">
                    <p>
                      Mulyana Yusuf                      <small>Member since 2016-03-18 01:52:58</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat" data-toggle="modal" data-target="#myModalProfile">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="http://localhost/paten.cianjurkab.go.id/index.php/admin-logout" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      
                  <!--</div> <!-- Tutup | Untuk Header -->
            
            
                <!-- Buka | Untuk Sidebar-->
                           <style><!-- 
        SPAN.searchword { background-color:yellow; }
        // -->
        </style>
        <script src="http://localhost/paten.cianjurkab.go.id/assets/global/js/searchhi.js" type="text/javascript" language="JavaScript"></script>
        <script language="JavaScript"><!--
        function loadSearchHighlight()
        {
          SearchHighlight();
          document.searchhi.h.value = searchhi_string;
          if( location.hash.length > 1 ) location.hash = location.hash;
        }
        // -->
        </script>
    <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="http://localhost/paten.cianjurkab.go.id/assets/global/karyawan/IMG_20160218_165424.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Mulyana Yusuf</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
          <form method="get" name="searchhi" class="sidebar-form" action="#">
            <div class="input-group">
              <input type="text" name="h" onkeyup="oWhichSubmit(this)" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
			<!-- CEK HAK AKSES FROM DATABASE -->
							<!-- CEK HAK AKSES FROM DATABASE -->
		  
            <li class="header">MAIN NAVIGATION</li>
            <!-- <li class="active treeview"> -->
			<li id="dashboard" class="treeview">
              <a href="http://localhost/paten.cianjurkab.go.id/admin"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
            </li>
			
			<!-- CEK AKSES GROUP1 = 1 -->
			
				<li id="inputdata" class="treeview">
				  <a href="#">
					<i class="fa fa-laptop"></i> <span>Input Data (Basis Data)</span>
					<i class="fa fa-angle-left pull-right"></i>
				  </a>
				  <ul class="treeview-menu">
					
					<!-- CEK AKSES KARYAWAN -->
							<li id="input-data-karyawan">
							  <a href="#"><i class="fa fa-folder"></i> Input Karyawan <i class="fa fa-angle-left pull-right"></i></a>
							  
							  <ul class="treeview-menu">
								<!-- CEK AKSES JABATAN -->
									<li id="input-data-karyawan-kategori"><a href="http://localhost/paten.cianjurkab.go.id/admin-jabatan"><i class="fa fa-edit"></i> Jabatan </a></li>
								<!-- CEK AKSES JABATAN -->
								
								<!-- CEK AKSES KARYAWAN -->
									<li id="input-data-karyawan-karyawan"><a href="http://localhost/paten.cianjurkab.go.id/admin-karyawan"><i class="fa fa-edit"></i> Karyawan </a></li>
								<!-- CEK AKSES KARYAWAN -->
							  </ul>
							</li>
					<!-- CEK AKSES KARYAWAN -->
					
					<!-- CEK AKSES KECMATAN -->
							<li id="input-data-kecamatan">
							  <a href="#"><i class="fa fa-folder"></i> Input Data Kecamatan <i class="fa fa-angle-left pull-right"></i></a>
							  <ul class="treeview-menu">
								<!-- CEK AKSES KECAMATAN -->
									<li id="input-data-kecamatan-kecamatan"><a href="http://localhost/paten.cianjurkab.go.id/kecamatan"><i class="fa fa-edit"></i> Input Kecamatan </a></li>
								<!-- CEK AKSES KECAMATAN -->
							  
								<!-- CEK AKSES DESA -->
									<li id="input-data-kecamatan-desa"><a href="http://localhost/paten.cianjurkab.go.id/admin-kategori-produk"><i class="fa fa-edit"></i> Input Desa </a></li>
								<!-- CEK AKSES DESA -->
							  </ul>
							</li>
					<!-- CEK AKSES KECMATAN -->
					
					<!-- CEK AKSES KONTES -->
							<!--<li id="input-data-akun"><a href="http://localhost/paten.cianjurkab.go.id/admin-nomor-akun"><i class="fa fa-edit"></i> Nomor Akun</a></li>-->
					<!-- CEK AKSES KONTES -->
					
					
				  </ul>
				</li>
			<!-- CEK AKSES GROUP1 = 1 -->
			
			
			<!-- CEK AKSES GROUP1 = 2 -->
				<li class="treeview" id="roles">
				  <a href="#">
					<i class="fa fa-table"></i> <span>Pengaturan Laporan</span>
					<i class="fa fa-angle-left pull-right"></i>
				  </a>
				  <ul class="treeview-menu">
					<!-- CEK AKSES Kategori LAPORAN -->
							<li id="roles-bulan"><a href="http://localhost/paten.cianjurkab.go.id/admin-roles-bulan"><i class="fa fa-circle-o"></i> Kategori Laporan</a></li>
					<!-- CEK AKSES Kategori LAPORAN -->
					
					<!-- CEK AKSES JENIS LAPORAN -->
							<li id="roles-up"><a href="http://localhost/paten.cianjurkab.go.id/admin-roles-up"><i class="fa fa-circle-o"></i> Jenis Laporan</a></li>
					<!-- CEK AKSES JENIS LAPORAN -->
					
				  </ul>
				</li>
			<!-- CEK AKSES GROUP1 = 2 -->
			
			<!-- CEK AKSES HASIL LAPORAN-->
					<li id="setting-stock" class="treeview">
					  <a href="http://localhost/paten.cianjurkab.go.id/admin-setting-stock">
						<i class="fa fa-share"></i> <span>Hasil Laporan</span>
					  </a>
					</li>
			<!-- CEK AKSES HASIL LAPORAN-->
			
			<!-- CEK AKSES GROUP1 = 6 AKUN-->
					<li id="aksesakun" class="treeview">
					  <a href="#">
						<i class="fa fa-share"></i> <span>Hak Akses dan Akun</span>
						<i class="fa fa-angle-left pull-right"></i>
					  </a>
					  <ul class="treeview-menu">
					  
						<!-- CEK AKSES AKUN -->
								<li id="akunakses-akun">
									<a href="http://localhost/paten.cianjurkab.go.id/admin-akun"><i class="fa fa-circle-o"></i>Pemberian Akun</a>
								</li>
						<!-- CEK AKSES AKUN-->
						<!-- <li><a href="#"><i class="fa fa-circle-o"></i>Pemberian hak Akses</a></li> -->
					  </ul>
					</li>
			<!-- CEK AKSES GROUP1 = 6 AKUN-->
			
			
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside> 
                <!-- Tutup | Untuk Sidebar -->
                
                
                
                                    

            
            <div> <!-- Buka | Untuk Footer-->
                <footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Sales System</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2014-2015 <a href="http://quad.com">Sales System</a>.</strong> Your IT Solutions Partner.
</footer>            </div> <!-- Tutup | Untuk Footer -->
            
            <div> <!-- Buka | Sidebar control-->
                <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>

          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-user bg-yellow"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                    <p>New phone +1(800)555-1234</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                    <p>nora@example.com</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-file-code-o bg-green"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                    <p>Execution time 5 seconds</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Update Resume
                    <span class="label label-success pull-right">95%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Laravel Integration
                    <span class="label label-warning pull-right">50%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Back End Framework
                    <span class="label label-primary pull-right">68%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Allow mail redirect
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Other sets of options are available
                </p>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Expose author name in posts
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Allow the user to show his name in blog posts
                </p>
              </div><!-- /.form-group -->

              <h3 class="control-sidebar-heading">Chat Settings</h3>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Show me as online
                  <input type="checkbox" class="pull-right" checked>
                </label>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Turn off notifications
                  <input type="checkbox" class="pull-right">
                </label>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Delete chat history
                  <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                </label>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>            </div> <!-- Tutup | Sidebar Control -->
            
        </div> <!-- Tutup | Untuk Wrapper/Container -->
        
         
        <!-- AdminLTE for demo purposes -->
        <script src="http://localhost/paten.cianjurkab.go.id/assets/adminlte/dist/js/demo.js"></script>
        <!-- page script -->
        
    </body>
</html>